@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

@keyframes background-change
{
    0%  {background-position: left;}
    100% {background-position: right;}
}

:root
{
    --gradient: linear-gradient(
        90deg,
        #7f7c16,
        #651747,
        #07848d
    );
}


body
{
    flex-flow: column wrap;
    width: 100%;
    height: 1200px;
    margin: 0;
    padding: 0;
    animation: background-change 20s infinite alternate;
    background: #FFFFFF;
    background-image: var(--gradient);
    background-size: 300%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#menu
{
    display: flex;
    border: 2px solid #000000;
    align-items: center;
    background-image: linear-gradient(45deg, #3D4361, #25293e, #212334);
    height: 120px;
}

#items
{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-around;
    align-items: center;
}

.btn
{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
}

.gitimg
{
    display: flex;
    object-fit: contain;
    width: 60px;
    height: 10%;
}


@keyframes githover
{
    from {box-shadow: -5px 5px 5px #000000;}
    to {box-shadow: 5px 5px 5px #000000;}
}

.gitimg:hover
{
    display: flex;
    object-fit: contain;
    width: 60px;
    animation: githover 1s linear 0s 1 reverse forwards;
    border-radius: 100px;
    height: 10%;
}


.linkedinimg
{
    display: flex;
    object-fit: contain;
    width: 60px;
    height: 10%;
}


@keyframes linkedinhover
{
    from {box-shadow: -5px 5px 5px #4682b4;}
    to {box-shadow: 5px 5px 5px #000000;}
}

.linkedinimg:hover
{
    display: flex;
    object-fit: contain;
    width: 60px;
    animation: linkedinhover 1s linear 0s 1 normal forwards;
    border-radius: 100px;
    height: 10%;
}

#nome
{
    color: #FFFFFF;
    text-shadow: 6px 6px 6px #000000;
    font-size: 21pt;
    font-family: 'Montserrat', Arial, sans-serif;
}

.div3
{
    display: flex;
    object-fit: contain;
    width: 60px;
    height: 10%;
}

.flex-section
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.hs
{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-family: 'Basic', Arial, sans-serif;
    width: 30%;
    font-size: 40pt;
    font-weight: 900;
    color: #00f2ff;
}

.hs2
{
    display: flex;
    flex-basis: content;
    justify-content: center;
    text-align: center;
    padding: 17px;
    flex-wrap: wrap;
    font-family: 'Basic', Arial, sans-serif;
    width: 45%;
    font-size: 40pt;
    font-weight: 600;
    color: #00f2ff;
}

.hs3
{
    display: flex;
    flex-basis: content;
    justify-content: center;
    text-align: center;
    padding: 17px;
    flex-wrap: wrap;
    font-family: 'Basic', Arial, sans-serif;
    width: 45%;
    font-size: 26pt;
    font-weight: 600;
    color: #ff7b00;
}

.ce
{
    font-family: 'Basic', Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 30pt;
    list-style:none;
}

.tamanhoimg
{
    width: 70px;
    margin-right: 10px;
    height: 80px;
}

.ah
{
    color: #060005;
    text-decoration: solid;
}


@media (max-width: 425px)
{
    .ce
    {
        font-size: 20pt;
    }

    .hs
    {
        font-size: 20pt;
    }

    .hs2
    {
        font-size: 20pt;
    }

    .hs3
    {
        font-size: 10pt;
    }
}

@media (min-width: 425px) and (max-width: 1150px)
{

    .hs3
    {
        font-size: 13pt;
    }
}